# MongoDB Configuration
MONGODB_URI=mongodb+srv://ravitejarao51_db_user:nwRaBp87f71Fn1wA@cluster0.fifuekj.mongodb.net/

# Polygon Amoy RPC URL
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/

# Smart Contract Address (deploy contract first, then add address here)
CONTRACT_ADDRESS=0x...

# Server Configuration
PORT=5000

# Admin Credentials
ADMIN_USERNAME=block_test
ADMIN_PASSWORD=block

